* , html{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/*body{
    background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 

}*/

.about_me{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    flex-direction: column;
    width: 100%;
    margin-top: px;
    color: rgb(8, 116, 71)
    
}

h1{
    font-family: monospace;
    font-size: 50px;
    color: rgb(6, 70, 43);


}
h2{
    font-family: monospace;
    font-size: 30px;
    color: rgb(19, 134, 67);
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(14, 85, 46)

}

p{

    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bolder;
}

.profile_image{
    margin-top: 10px;
    border-radius: 55%;
    height: 250px;
    width: 250px;

}
.networks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

a{
    margin-top: 40px;
    text-decoration: none;
}


.social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.logo{
    width: 30px;
    height: 30px;
    margin: 5PX;
}

.email{
    margin: 20px 0px 10px 0px;
    width: 100px;
    height: 35px;
    background-color: white;
    cursor: pointer;
    border-radius: 6%;
}

.email:hover{
    background-color: aquamarine;
}


.navbar {
    height: 60px;
    width: 100%;
    margin-top: 0;
    padding-top: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
    background-color: #0F2027;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar-brand{
    height: 60px;
}

.nav-item{
    height: 110px;
}

